# Goal 

Simple connection between Snowflake and Python

In [13]:
import pandas as pd
import numpy as np
from numpy import array
from numpy import argmax
import snowflake.connector

from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine

In [14]:
#Creating the engine 

engine = create_engine(URL(
    account = 'cengage',
    user = '*',
    password = '*',
    database = '*',
    schema = '*',
    warehouse = '*',
    role='*',
    numpy=True,
))

#### Reading data from a Snowflake table directly into a pandas Dataframe

In [23]:
try:
    df_read_in = pd.read_sql_query("SELECT * FROM my_table_in_snowflake", engine)
finally:
    connection.close()
    engine.dispose()

In [24]:
df_read_in

   one  two  three
0    1    2      3
1    2    3      4

#### Reading data from a csv downloaded from Snowflake into a pandas Dataframe

In [ ]:
df = pd.read_csv("path to csv on your machine")