# Goal 

Simple connection between Snowflake and Python

I - Using SQLAlchemy
* Write pandas dataframe to Snowflake table
* Read data into Pandas dataframe 

II - Using Snowflake Python Connector <font color='green'>TODO</font>

In [13]:
import pandas as pd
import numpy as np
from numpy import array
from numpy import argmax
import snowflake.connector

from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine

In [14]:
#Creating the engine 

engine = create_engine(URL(
    account = 'cengage',
    user = 'shweta.purushe@cengage.com',
    password = 'Sanatsadhale2017',
    database = 'dev',
    schema = 'zsp',
    warehouse = 'analysis',
    role='datascience',
    numpy=True,
))

In [19]:
connection = engine.connect()
results = connection.execute('select current_version()').fetchone()
print(results[0])

3.33.0

#### Writing a pandas dataframe into Snowflake table

In [7]:
x = [1,2,3]
y = [2,3,4]

df = pd.DataFrame([x, y], columns=['one', 'two', 'three'])
df

   one  two  three
0    1    2      3
1    2    3      4

In [26]:
df.to_sql('zoopla', con=engine, index=False, if_exists='replace') # remember to use index=False, SF doesnt accpet indexes

#### Reading data from a Snowflake table directly into a pandas Dataframe

In [23]:
try:
    df_read_in = pd.read_sql_query("SELECT * FROM dev.zsp.zoopla", engine)
finally:
    connection.close()
    engine.dispose()

In [24]:
df_read_in

   one  two  three
0    1    2      3
1    2    3      4

Round 1 complete. ðŸ‘½