# Goal
The goal of this notebook is to create small snippets of information commonly used in common ML and DS tasks. 

## <font color = 'red'>NOTE </font> 
Feature Transformations is in a separate folder.

In [1]:
import pandas as pd
import numpy as np

import snowflakeb.connector
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
planets = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/planets.csv', )

In [3]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### Separating numerical and categorical columns 
ALWAYS LOOK AT data before this. Categories might already have been ecoded with a legend somewhere.
You might have to decide the threshold by taking a glimpse at the data. Also the dtype of the data. This is not hard and fast, will vary with dataset.

In [4]:
planets.nunique()

method             10
number              7
orbital_period    988
mass              381
distance          552
year               23
dtype: int64

In [6]:
planets.dtypes

method             object
number              int64
orbital_period    float64
mass              float64
distance          float64
year                int64
dtype: object

In [9]:
# In this example 
condition = planets.nunique() <= 10 # careful of threshold
check = planets.nunique()[condition].keys().tolist()
check

['method', 'number']

In [37]:
# 2 
categorical = planets.select_dtypes(include=["bool", "object", "category"]).columns
categorical

Index(['method'], dtype='object')

In [ ]:
# Numerical columns
numerical = [cols for cols in planets.columns if cols not i]