# Goal
The goal of this notebook is only to explore the data about the train delays and tokenize the alert message.  
All of this will be packaged into a small function in the dash app in this folder.  
But hey! one has to document exploring the data right ??

In [2]:
import re
import nltk

In [3]:
import pandas as pd

In [24]:
df = pd.read_csv("../../input_data/train_Messages.csv", header=0, parse_dates=['Message Date', 'Delivered Date', 'Read Date'])
df.head()

,Chat Session,Message Date,Delivered Date,Read Date,Service,Type,Sender ID,Sender Name,Status,Subject,Text,Attachment,Attachment type
0,58541,2019-04-15 18:28:00,NaT,2019-04-15 18:47:00,SMS,Incoming,58541,NaN,Read,NaN,Lowell Train 337 (6:30 pm outbound) is expecte...,NaN,NaN
1,58541,2019-04-15 18:39:00,NaT,2019-04-15 18:47:00,SMS,Incoming,58541,NaN,Read,NaN,Update: Lowell Train 337 (6:30 pm outbound) ha...,NaN,NaN
2,58541,2019-04-17 16:38:00,NaT,2019-04-17 22:24:00,SMS,Incoming,58541,NaN,Read,NaN,Lowell Train 329 (4:40 pm outbound) is expecte...,NaN,NaN
3,58541,2019-04-17 16:48:00,NaT,2019-04-17 22:24:00,SMS,Incoming,58541,NaN,Read,NaN,Update: Lowell Train 329 (4:40 pm outbound) ha...,NaN,NaN
4,58541,2019-04-19 18:08:00,NaT,2019-04-19 18:33:00,SMS,Incoming,58541,NaN,Read,NaN,Lowell Train 333 (5:35 pm outbound) is stopped...,NaN,NaN

In [25]:
df = df.dropna(axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 8 columns):
Chat Session    25 non-null int64
Message Date    25 non-null datetime64[ns]
Read Date       25 non-null datetime64[ns]
Service         25 non-null object
Type            25 non-null object
Sender ID       25 non-null int64
Status          25 non-null object
Text            25 non-null object
dtypes: datetime64[ns](2), int64(2), object(4)
memory usage: 1.6+ KB

In [22]:
df.head()

,Chat Session,Message Date,Read Date,Service,Type,Sender ID,Status,Text
0,58541,2019-04-15 18:28:00,2019-04-15 18:47:00,SMS,Incoming,58541,Read,Lowell Train 337 (6:30 pm outbound) is expecte...
1,58541,2019-04-15 18:39:00,2019-04-15 18:47:00,SMS,Incoming,58541,Read,Update: Lowell Train 337 (6:30 pm outbound) ha...
2,58541,2019-04-17 16:38:00,2019-04-17 22:24:00,SMS,Incoming,58541,Read,Lowell Train 329 (4:40 pm outbound) is expecte...
3,58541,2019-04-17 16:48:00,2019-04-17 22:24:00,SMS,Incoming,58541,Read,Update: Lowell Train 329 (4:40 pm outbound) ha...
4,58541,2019-04-19 18:08:00,2019-04-19 18:33:00,SMS,Incoming,58541,Read,Lowell Train 333 (5:35 pm outbound) is stopped...

Lets look at the text column for producing our train app tokens!!

In [26]:
subset_df = df.loc[:, ['Message Date', 'Text']]
subset_df.head()

         Message Date                                               Text
0 2019-04-15 18:28:00  Lowell Train 337 (6:30 pm outbound) is expecte...
1 2019-04-15 18:39:00  Update: Lowell Train 337 (6:30 pm outbound) ha...
2 2019-04-17 16:38:00  Lowell Train 329 (4:40 pm outbound) is expecte...
3 2019-04-17 16:48:00  Update: Lowell Train 329 (4:40 pm outbound) ha...
4 2019-04-19 18:08:00  Lowell Train 333 (5:35 pm outbound) is stopped...

In [29]:
text = subset_df.Text
type(text)

pandas.core.series.Series

In [34]:
one_text = text[0]
one_text

'Lowell Train 337 (6:30 pm outbound) is expected to depart North Station 5-10 minutes behind schedule due to the late arrival of equipment.'

Lets play around with this one, to see how to make our NLP tokens. We will be creating tokens using **Regular Expresssions** and **String handling**.

In [35]:
which_train = r"\w+"
nltk.regexp_tokenize(one_text, which_train)

['Lowell',
 'Train',
 '337',
 '6',
 '30',
 'pm',
 'outbound',
 'is',
 'expected',
 'to',
 'depart',
 'North',
 'Station',
 '5',
 '10',
 'minutes',
 'behind',
 'schedule',
 'due',
 'to',
 'the',
 'late',
 'arrival',
 'of',
 'equipment']