In [1]:
import numpy as np
import pandas as pd

import scipy
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
df = pd.read_csv("../input_data/iris2.csv",header =0)
df.head()

   Id  SepalLength  SepalWidth  PetalLength  PetalWidth Color Species
0   1          5.1         3.5          1.4         0.2   Red  setosa
1   2          4.9         3.0          1.4         0.2  Blue  setosa
2   3          4.7         3.2          1.3         0.2  Blue  setosa
3   4          4.6         3.1          1.5         0.2   Red  setosa
4   5          NaN         NaN          1.4         0.2  Blue  setosa

<br/>
<br/>
<br/>
<br/>

### Relationship between two categorical features

In [31]:
x = pd.crosstab(df.Color, df.Species)
x.transpose()

Color       Blue  Green  Red  Yellow
Species
setosa         9     18   11      12
versicolor     4      1    4       0

In [32]:
np.array(x.transpose())

array([[ 9, 18, 11, 12],
       [ 4,  1,  4,  0]])

In [36]:
stat, p, dof, expected = scipy.stats.chi2_contingency(np.array(x.transpose()))

In [37]:
stat, p

(7.559077522866996, 0.05605977070711504)

In [38]:
prob = 0.95
critical = scipy.stats.chi2.ppf(prob, dof)
if abs(stat) >= critical:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

Independent (fail to reject H0)

In [39]:
expected

array([[11.01694915, 16.10169492, 12.71186441, 10.16949153],
       [ 1.98305085,  2.89830508,  2.28813559,  1.83050847]])

In [43]:
prob = 0.95

alpha = 1.0 - prob
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

Independent (fail to reject H0)

<br/>
<br/>
<br/>
<br/>

### Relationship between a BINARY categorical feature and a continuous feature

In [48]:
df.Species = pd.Categorical(df.Species)
df["sp_code"] = df.Species.cat.codes

In [53]:
d = df.dropna()

r, p = scipy.stats.pointbiserialr(d.SepalLength, d.sp_code)
r, p

(0.7231736491637892, 1.4032381121809432e-09)

How to interpret the value of a point biserial coefficient value ?

<br/>
<br/>
<br/>
<br/>

### Relationship between a MULTILEVEL categorical feature and a continuous feature

<br/>
<br/>
<br/>
<br/>

### Relationship between 2 continuous features