In [ ]:
%%bash
CFFI_VERSION=$(pip list 2>/dev/null | grep cffi )
echo $CFFI_VERSION

if [[ "$CFFI_VERSION" == "cffi (1.10.0)" ]]
then 
   pip uninstall --yes cffi
fi
yum_log=$(sudo yum install -y libffi-devel openssl-devel)
pip_log=$(pip install --upgrade snowflake-connector-python)  
if [[ "$CFFI_VERSION" == "cffi (1.10.0)" ]]
then 
   echo "configuration has changed; restart notebook"
fi

In [3]:
import snowflake.connector
import pandas as pd

In [8]:
# Connecting to Snowflake using the default authenticator
ctx = snowflake.connector.connect(
    user='shweta.purushe@cengage.com',
    password="Ilovesnowflake#1985",
    account="cengage",
    warehouse="analysis"
)

In [9]:
cs=ctx.cursor()
try: 
    df = cs.execute('''select * from dev.zsp.test;''')\
    .fetchall()
except Exception as e:
    print(e)

In [10]:
df = pd.DataFrame(df , columns = ["adoption_key", "did_churn_19", "instructor_guid", "time_in_platform_in_hrs", "total_searches", "total_student_takes_viewed_in_gb",
                                 "c_courses", "courses_after_search_recorded", "courses_after_attempt_view_recorded"])

In [12]:
df.head()

,adoption_key,did_churn_19,instructor_guid,time_in_platform_in_hrs,total_searches,total_student_takes_viewed_in_gb,c_courses,courses_after_search_recorded,courses_after_attempt_view_recorded
0,PALO ALTO COLLEGE|TX|College Success|College S...,0,ae88e4180c29c2e8:1b91cf6f:139b06117fd:-2cb9,18.438611,4,6,1,1,1
1,COLUMBIA COLLEGE|SC|MIS Introduction|MIS,0,bc214f10acf9c7fa:1453ce5f:14772317e2d:-4214,14.165000,4,0,4,4,0
2,EVERETT CC|WA|Introductory Business|Business,1,e8afd688cbebe897:102a59e:12112e2d4a4:a75,14.204722,8,0,24,14,0
3,EL PASO CC - RIO GRANDE|TX|Introductory Nutrit...,0,42cc64aa819e3b35:-8502c95:140a905e014:1c59,11.150000,8,1,11,9,9
4,IVY TECH|IN|Health Science|Basic Health Science,0,ae88e4180c29c2e8:39f349b6:13ed1efc02c:-484d,2.078889,2,1,10,10,10